img.izquierda {
        float: left;
        /* The float CSS property places an element on the left or right side of its container, allowing text and inline elements to wrap around it. */
        margin-right: 30px;
        /* para que quede separado de la imagen  */
}
p {
        text-align:justify;
        margin-right: 30px;
        /* Párrafos justificados y que se vea que no se comen el margen  */
}